.page {
  background: #f0f0f0;
  padding: 20px;
  margin: 20px;
}
.Reserve{
  background: #f0f0f0;
  padding: 20px;
  margin: auto;
  width:50%;
}
.Pagar{
  background: #f0f0f0;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  width:30%;
}
.Contenedor{
  text-align: right;
}
.Paginacion{
  display: flex;
  justify-content: center;
}