.page {
  background: #f0f0f0;
  padding: 20px;
  margin: 20px;
}
.Reserve{
  background: #f0f0f0;
  padding: 20px;
  margin: auto;
  width:50%;
}
.Pagar{
  background: #f0f0f0;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  width:30%;
}
.Contenedor{
  text-align: right;
}
.Paginacion{
  display: flex;
  justify-content: center;
}
.split {
  background: #f0f0f0;
  height: 100%;
  width: 50%;
  margin-right: 60px;
  margin-left: 60px;
  position: fixed;
  padding-top: 20px;
  padding-right:15px;
}
.left {
  left: 0;
}

/* Control the right side */
.right {
  right: 0;
}
.CustomButton{
  position:fixed;
  margin-right: 80px;
  margin-bottom: 80px;
  right: 0;
  bottom: 0;
}